/* main variables */
/* google-font */
@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico');
:root{
  --primaryColor:#3f18dc;
  --blueColor:#5fb7ea;
  --primaryRGBA:rgba(0,0,0,0.1);
  --mainGrey:#d8d8d8;
  --mainWhite:#fff;
  --mainBlack:#222;
  --backColor:#dad4ec;

  --easeTransition:all 0.3s ease-in-out;


  --specialFont:'Pacifico';
  --fontBold:800;
  --fontMedium:600;
  --fontlight:300;

  --mainSpace: 0.25rem;

}


body{
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;
  /* text-align: center; */
  font-family: 'Lobster',sans-serif,Georgia, 'Times New Roman', Times, serif !important;
}
.text-title{
font-family: var(--specialFont) !important;
font-weight:var(--fontBold);
letter-spacing: var(--mainSpace);
text-transform:capitalize; 
}
.text-main{
  color:var(--primaryColor);
}

/* // button link */
.main-link{
  padding: .5rem 1.5rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpace);
  outline: 2px solid var(--primaryColor);
  outline-offset:4px; 
  border: none;
  transition: var(--easeTransition);
  /* margin: .5rem; */
}
.main-link:hover{
background: var(--mainWhite);
color: var(--primaryColor);
outline-color:var(--mainWhite);
text-decoration: none;
}